.row {
    margin-bottom: 5px;
}

/* JD: For better readability, precede your left brace with a space.
       A space should follow your colons, too. */
body{
	background:#CFDBEC;
}

#extras{
	position: relative;
	top: 50px;
    left: 600px;
	font-size:30pt;
}