.row {
    margin-bottom: 5px;
}

.column {
	margin-right: 5px;
}

.red {
	background-color: #ff3600;
}

.green {
	background-color: #c0ff00;
}

.blue {
	background-color: #00a8ff;
}

.table-borderless td, .table-borderless th, .table-borderless tr {
    border: 0 !important
}

.btn-help {
  bottom: 15px;
  float: left;
  top: 15px;
}

.topOfPage {
	margin-top: 5px
}

.btn-left {
    margin-right: 102px;
}

.inventoryTable {
    width: 50%;
}
