/* Drawing area properties. */
.drawing-area {
    position: relative;
	top: 50px;  /* JD: Nice tweak, moving the drawing area so that you can */
	left: 50px; /*     test your box deletion code better.                 */
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Box properties and their variants. */
.box {
    border: thin solid black;
    position: absolute;
}

.box-highlight {
    box-shadow: 0px 0px 12px #88F;
    -moz-box-shadow: 0px 0px 12px #88F;
    -webkit-box-shadow: 0px 0px 12px #88F;
}

.box-deleteHighlight {
    box-shadow: 0px 0px 6px #F00;
    -moz-box-shadow: 0px 0px 6px #F00;
    -webkit-box-shadow: 0px 0px 6px #F00;
}

.box-createHighlight {
    box-shadow: 0px 0px 6px #0F0;
    -moz-box-shadow: 0px 0px 6px #0F0;
    -webkit-box-shadow: 0px 0px 6px #0F0;
}